body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
li{
    list-style-type: none;
    margin:2% 10%;
    font size: 5%;
}
a{
    text-decoration: none; 
    padding: 10%;
    color: black;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    width: 100%;
    background-color: thistle;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}
h1{
    font-size: 40px;
    
}
.h1color{
    color: rgb(164, 202, 97);
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}
.ddiv1{
    width: 40%;
    padding-left: 5%;
    text-align:justify ;

}
.ddiv1 p{
    padding: 5px 0px 45px 0px;
    font-size: 15px;
}
.ddiv1 img{
    width: 90%;

}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(117, 148, 45), rgb(68, 90, 42));
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}
.bg{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.about{
    color: rgb(75, 62, 62);
}
.link1{
    text-decoration: none;
    background-image: linear-gradient(rgb(180, 196, 93), rgb(104, 104, 80));
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}

#recipe1{

    width: 90%;
    margin: auto;
    margin-bottom: 100px
}
#title{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}


.long{
    
    box-shadow:10px 10px 40px thistle;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    text-align: justify;
    border-radius: 10px;
    
    
    
}
#recipe1 .long img{
    padding: 10px;
    width: 85%;
    border-radius: 25px;
}
.auto{
    margin-bottom: 10%;
}
.skil{

    width: 80%;
    margin: auto;
    box-shadow: 1px 1px 1px 1px rgb(99, 89, 71);
    bottom:10%;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    
    

}
.skil1{

    margin: auto;
    text-align: center;
    
}


 #foot{
     background-color: black;
     text-align: center;
    
   
    
    
}
.foot1 {
    font-size: 26px;
    color: white;
    padding-bottom: 30px;
    padding-top: 10px;
    
}
